<!DOCTYPE html>
<html>
<head></head>
<body>
  <div id="about" class="row">
    <div class="col-md-4"><img id="myimg" class="img-circle" src="http://i.imgur.com/kZznmUR.jpg"> </div>
    <div class="col-md-8">
      <b><p style="margin-top:20px; ">Shaker Alghaithi</p></b>
      <p>The website owner</p>
      <b><p>This is my e-mail (Shakalghaithi@gmail.com) I will be happy to hear from you. If you have any question or suggestion feel free and shoot me an e-mail</p></b>
    </div>
  </div>
</body>
</html>